@model List<PAS.Web.Models.Match>

<h2 class="mb-3">Admin Dashboard</h2>
<div class="mb-3">
    <a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Manage Users</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Project</th>
            <th>Student</th>
            <th>Supervisor</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectProposal?.Title</td>
                <td>@item.ProjectProposal?.Student?.Email</td>
                <td>@item.Supervisor?.Email</td>

                <td>
                    <a asp-action="Reassign" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        Reassign
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
